.theme-toggle {
  display: inline-flex;
  border-radius: $radius-md;
  overflow: hidden;
  border: 1px solid var(--border);

  button {
    flex: 1;
    padding: $space-sm $space-md;
    background: var(--surface);
    color: var(--text);
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: all $transition-fast;
    width: 90px;

    &:hover {
      background: $color-accent;
      color: #000;
    }

    &.active {
      background: $color-primary;
      color: #fff;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--border);
    }
  }
}
